
<div class="navbar rounded-box bg-dark text-white py-0">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost normal-case text-xl">CaymazDEV</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <div class="d-flex">
      <li><a href="/add" class="btn btn-primary mr-3">Kurs Ekle</a></li>
    </div>
        
    
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img src="https://www.shutterstock.com/image-photo/smiling-confident-bearded-indian-businessman-260nw-2024994209.jpg" />
        </div>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <li>
          <a class="justify-between">
            Profile
            <span class="badge">New</span>
          </a>
        </li>
        <li><a>Settings</a></li>
        <li><a>Logout</a></li>
      </ul>
    </div>
  </div>
</div>